<%- model_class = Persona -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nombres) %>:</strong></dt>
  <dd><%= @persona.nombres %></dd>
  <dt><strong><%= model_class.human_attribute_name(:apellidos) %>:</strong></dt>
  <dd><%= @persona.apellidos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipo_documento_id) %>:</strong></dt>
  <dd><%= @persona.tipo_documento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nro_documento) %>:</strong></dt>
  <dd><%= @persona.nro_documento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:calle) %>:</strong></dt>
  <dd><%= @persona.calle %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nro_calle) %>:</strong></dt>
  <dd><%= @persona.nro_calle %></dd>
  <dt><strong><%= model_class.human_attribute_name(:piso) %>:</strong></dt>
  <dd><%= @persona.piso %></dd>
  <dt><strong><%= model_class.human_attribute_name(:depto) %>:</strong></dt>
  <dd><%= @persona.depto %></dd>
  <dt><strong><%= model_class.human_attribute_name(:estado_civil_id) %>:</strong></dt>
  <dd><%= @persona.estado_civil %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sexo_id) %>:</strong></dt>
  <dd><%= @persona.sexo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fecha_nacimiento) %>:</strong></dt>
  <dd><%= Util.fecha_a_cadena(@persona.fecha_nacimiento) %></dd>
  <dt><strong>Teléfono de contacto:</strong></dt>
  <dd><%= @persona.telefono_contacto %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @persona.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:localidad_id) %>:</strong></dt>
  <dd><%= @persona.localidad %></dd>
  <dt><strong>Establecimientos:</strong></dt>
  <dd>
    <% @persona.establecimientos.each do |pe| %>
      <%= pe.codigo_jurisdiccional %> - 
    <% end %>
  </dd>
  <dt><strong>Ingresar a planta:</strong></dt>
    <dd>
      <% if @persona.ingresar_planta == true then %>
        Si desea
      <% else %>
        No desea
      <% end %> 
    </dd>
  <dt><strong>Cant. contratos:</strong></dt>
  <dd><%= @persona.cant_contratos %> - <strong>Antigüedad:</strong> <%= @persona.antiguedad_contratos %> meses</dd>
  <dt><strong>Cant. horas:</strong></dt>
  <dd><%= @persona.cant_horas %> - <strong>Antigüedad:</strong> <%= @persona.antiguedad_horas %> años </dd>
  <dt><strong>Cant. cargos docentes:</strong></dt>
  <dd><%= @persona.cant_cargos_docente %> - <strong>Antigüedad:</strong> <%= @persona.antiguedad_cargos_docente %> años </dd>
  <dt><strong>Cant. cargos auxiliares:</strong></dt>
  <dd><%= @persona.cant_cargos_aux %> - <strong>Antigüedad:</strong> <%= @persona.antiguedad_cargos_aux %> años </dd>
  <dt><strong>Otra contratación:</strong></dt>
  <dd>
      <% if @persona.otra_contratacion == true then %>
        Si posee
      <% else %>
        No posee
      <% end %> 
    </dd>
  <dt><strong>Cuál contratación?</strong></dt>
  <dd><%= @persona.cual_contratacion %></dd>
</dl>

<% if can? :manage, Persona %>

  <div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                personas_path, :class => 'btn'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_persona_path(@persona), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                persona_path(@persona),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  </div>

<% else %>

  <div class="form-actions">
    <button onclick="location.href='http://chubut.edu.ar'" class="btn btn-success">Finalizar</button>
    <%= link_to 'Cargar otro', new_persona_path, :class => "btn btn-primary" %>
  </div>

<% end %>